@charset "UTF-8";

/********** 全体 **********/
*{
	margin:0px;
	padding:0px;
}

html {
	overflow-y: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

body{
	color:#222222;
	background-color:#FFFFFF;
	font-size:15px; /* サイズ中 */
	font-family:"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height:1.5;
	width:960px;
	margin:80px auto;
	text-align:left;
	vertical-align:middle;
}

ul,ol{
	padding-left:30px;	
}

/* リンク */
a{color:#222222;text-decoration:none;}
a:hover{color:#3399cc;}
a:active, a:focus{outline:0;}

/* 画像(リンク切れ時の背景) */
img{background:#CCCCCC;}


/********** ヘッダー **********/
header h1{
	border-bottom:solid #222222 4px;
	font-size:18px; /* サイズ大 */
	font-weight:lighter;
	padding:0px 7px; /* (左右)7px */
}


/********** フッター **********/
footer{
	border-top:solid #222222 1px;
	font-size:10px;
	line-height:0;
}

#footer_left{ 
	float:left;
	text-align:left;
	margin:10px 7px; /* (上下)10px, (左右)7px */
}

#footer_right{
	float:right;
	text-align:right;
	margin:10px 7px; /* (上下)10px, (左右)7px */
}


/********** ナビゲーション **********/
nav#main_nav h2{
	font-size:18px; /* サイズ大 */
	font-weight:lighter;
	margin:50px 0px 40px 0px; /* (上)50px, (下)40px */
	text-align:center;
}

nav#main_nav ul{
	border-bottom:solid #222222 1px;
	font-size:12px; /* サイズ小 */
	line-height:1;
	text-align:center;
}

nav#main_nav li{display:table-cell;}

nav#main_nav a{
	display:block; /* 文字だけでなく枠全体にリンクを反映 */
	width:230px; /* 960px(bodyの横幅)÷リンク数 */
	padding-top:2px; /* (上)2px */
}

nav#main_nav a:hover{
	color:#FFFFFF;
	background-color:#3399cc;
}


/********** サブ ナビゲーション **********/
nav#sub_nav ul{
	border-bottom:solid #222222 1px;
	font-size:12px; /* サイズ小 */
	line-height:1;
	text-align:center;
	margin:-20px 0px 50px; /* (上)-20px, (下)50px */
}

nav#sub_nav li{display:inline-block;}

.link{
	display:block;
	cursor:pointer; /* カーソルの変更 */
	width:80px;
	padding:2px 0px;
}

.link:hover{
	color:#FFFFFF;
	background-color:#3399cc;
}


/********** セクション **********/
section#contents{
	padding:70px 130px 20px; /* (上)70px, (左右)130px, (下)20px(70px-50px) */
	overflow:hidden;
}

section#contents h3{
	border-bottom:solid #222222 1px;
	font-size:15px; /* サイズ中 */
	line-height:1.3;
	font-weight:lighter;
	padding:0px 10px;
	margin-bottom:50px; /* (下)50px */
}










/********** Index **********/
section#index{
	display:table-cell;
	width:960px;
	height:630px;
	text-align:center;
	vertical-align:middle;
}

/* リンク */
section#index span{
	display:block;
	font-size:18px; /* サイズ大 */
	margin:100px 0px; /* (上下)100px */
}


/********** Outline **********/
.outline_ja{
	font-size:15px; /* サイズ中 */
	margin:0px 10px 50px; /* (左右)10px, (下)50px */
}

.outline_en{
	font-size:12px; /* サイズ小 */
	margin:0px 10px 50px; /* (左右)10px, (下)50px */
}

.outline_en h4{
	font-size:12px; /* サイズ小 */
	font-weight:lighter;
	margin-bottom:12px; /* (下)12px */
}


/********** Teachers **********/
.teachers{
	width:700px;
	margin-bottom:50px; /* (下)50px */
	overflow:hidden; /* floatを含む高さに広げる */
}

.teachers img{
	float:left;
	border:none;
	width:100px;
	height:100px;
}

.teachers_str{
	float:right;
	width:590px; /* 全体(700px)-画像幅(100px)=10px */
}


/********** Works **********/
.works{margin-bottom:50px;}

.works h4{
	font-size:18px; /* サイズ大 */
	font-weight:lighter;
	margin:0px 10px; /* (左右)10px */
}

.works h5{
	font-size:15px; /* サイズ中 */
	font-weight:lighter;
	margin:20px 10px 0px; /* (上)20px, (左右)10px */
}

.works img.icon{ /* 画像を小さい正方形にする */
	width:110px;
	height:110px;
}

.works img.wide{ /* 画像を横幅いっぱいにする */
	width:700px;
}


/********** Works 個別ページ **********/
.wkpage{
	margin-left:7px; /* (左)7px */
}

/* 戻るリンク */
.wkpage_back{
	font-size:12px; /* サイズ小 */
	width:700px;
	margin:-40px 0px 30px 0px; /* (上)-40px, (下)30px */
}

.wkpage h4{
	font-size:15px; /* サイズ中 */
	font-weight:lighter;
	margin-bottom:20px; /* (下)20px */
}

.wkpage img{
	float:right;
	max-width:450px; /* 画像の最大幅 */
	margin:0px 0px 10px 10px; /* (下)10px, (左)10px */
	overflow:hidden;
}

.wkpage_str{
	margin-bottom:50px; /* (下)50px */
	overflow:hidden;
}

.wkpage video{ /* 動画 */
	background:#111111; /* サムネイルの背景色に合わせて設定 */
	max-width:700px; /* 動画の最大幅 */
	margin-bottom:50px; /* (下)50px */
}

.wkpage_video{ /* 動画の中央寄せ */
	display:block;
	text-align:center;
}

.wkpage_video iframe{
	max-width:700px; /* 動画の最大幅 */
}


/********** Interview(内容ページのCSSは別) **********/
section#interview{
	padding:70px 130px 20px; /* (上)70px, (左右)130px, (下)20px(70px-50px) */
	overflow:hidden;
}

section#interview h3{
	border-bottom:solid #222222 1px;
	font-size:15px; /* サイズ中 */
	line-height:1.3;
	font-weight:lighter;
	padding:0px 10px;
	/* objectタグによるmarginのずれを調節 */
	/* margin-bottom:50px; */
}


/********** Prizes **********/
.prizes{
	font-size:12px; /* サイズ小 */
	margin-left:7px; /* (左)7px */
	margin-bottom:50px; /* (下)50px */
	overflow:hidden;
}

.prizes img{
	float:right;
	max-width:320px; /* 画像の最大幅 */
	margin:0px 0px 10px 10px; /* (下)10px, (左)10px */
	overflow:hidden;
}

.prizes span{
	font-size:15px; /* サイズ中 */
}


/********** Exhibition **********/
.exhibition{
	margin-left:7px; /* (左)7px */
}

.exhibition h4{
	font-size:18px; /* サイズ大 */
	font-weight:lighter;
	margin-bottom:20px; /* (下)20px */
}

.exhibition img{
	float:right;
	margin:0px 0px 10px 10px; /* (下)10px, (左)10px */
	overflow:hidden;
}

.exhibition_str{
	margin-bottom:50px;
	overflow:hidden;
}


/********** Publicity **********/
.publicity p{
	margin:0px 0px 50px 7px; /* (下)50px, (左)7px */
}

/********** Talks **************/
.talks ul{
	list-style-type: none;
}

.talks li{
	margin-bottom:50px;
}

.talks .pagination{
	text-align:center;
}

.talks .pagination button{
	width:50px;	
	height:30px;
	background:white;
	border: solid 2px black;
	margin-bottom: 50px;
}

.seminar_talk {
	padding-top: 30px;
	padding-left: 50px;
}
