<h3>講義「認知的インタラクションデザイン学」</h3>
<div class="outline_ja">京都工芸繊維大学 大学院工芸科学研究科 情報工学専攻では、2015年度より、イ ンタラクションデザイン学コースを新設し、そこでの授業として「認知的インタ ラクションデザイン学」を新規開講しました。
	他者モデルによるユーザの心的状態推定という認知科学的手法をベースに、ユーザに自然に適応する人工物を設計するためのデザイン原理ならびに基礎技術の総称が、<a href="http://www.cognitive-interaction-design.org/">認知的インタラクションデザイン学</a>です。本講義では、同分野の学内外の気鋭の研究者による基本概念・基本技術の解説や最新の研究成果の紹介が行われます。
	本科目は<a ng-href="talks">公開講義</a>（共催：<a href="http://www.is.kit.ac.jp/index.html">情報工学専攻</a>、情報工学・人間科学系、<a href="http://www.d-lab.kit.ac.jp/">KYOTO Design Lab</a>、<a href="http://www.cognitive-interaction-design.org/">科研費 新学術領域研究「認知的インタラクションデザイン学」</a>、<a href="https://childlangdev.wordpress.com/">幼児言語発達研究会</a>）とします。学外の方も聴講可能です。
</div>
<div class="outline_en">Enthusiastic researchers on <a href="http://www.cognitive-interaction-design.org/english-digest/">Cognitive Interaction Design</a> explain basic concepts and technologies, and introduce state-of-the-art results of research.
</div>
