<div class="outline_ja">
	<ul>
		<li>デザイン学との専攻横断の課題解決型演習が特色</li>
		<ul>
			<li><a ng-href="http://interaction-design.kit.ac.jp/">フィジカルインタラクションデザイン</a></li>
			<li>ソーシャルインタラクションデザイン</li>
		</ul>
		<li><a ng-href="cid">講義「認知的インタラクションデザイン学」</a></li>
	</ul>
</div>
<div class="outline_en">
	<ul>
		<li>Featuring cross-departmental project-based learning with Department of Design</li>
		<ul>
			<li><a ng-href="http://interaction-design.kit.ac.jp/">Physical Interaction Design</a></li>
			<li>Social Interaction Design</li>
		</ul>
		<li><a ng-href="cid">Lecture "Cognitive Interaction Design"</a></li>
	</ul>
</div>
