<h3>公開講義「認知的インタラクションデザイン学」（共催：<a href="http://www.is.kit.ac.jp/index.html">情報工学専攻</a>、情報工学・人間科学系、<a href="http://www.d-lab.kit.ac.jp/">KYOTO Design Lab</a>、<a href="http://www.cognitive-interaction-design.org/">科研費 新学術領域研究「認知的インタラクションデザイン学」</a>、<a href="https://childlangdev.wordpress.com/">幼児言語発達研究会</a>）の今後の予定とアーカイブ</h3>
<nav id="sub_nav">
	<ul>
		<li ng-repeat="year in years | orderBy:'-'">
			<a class="link" ng-click="getControllerScope().currentYear=year;currentPage=0;hash(year)">{{year}}</a>
		</li>
	</ul>
</nav>
<h4>{{currentYear}}</h4>
<div class="talks" ng-show="talkNum[currentYear] > 0">
	<div class="pagination">
		<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
			Prev
		</button>
		{{currentPage+1}}/{{numberOfPages()}}
		<button ng-disabled="currentPage >= talkNum[currentYear]/pageSize - 1" ng-click="currentPage=currentPage+1">
			Next
		</button>
	</div>

	<ul>
		<li ng-repeat="collection in sliced[currentPage]">
			<div ng-if="collection.seminar != undefined"> <!--セミナー-->
				<div ng-if="collection.isMid == false || collection.isMid == undefined">
				<span ng-show="collection.title!=undefined && collection.title!=''"><b>{{collection.title}}</b></br></span>
				<span ng-show="collection.date!=undefined && collection.date!=''">Date: {{collection.date}}</br></span>
				<span ng-show="collection.time!=undefined && collection.time!=''">Time: {{collection.time}}</br></span>
				<span ng-show="collection.place!=undefined && collection.place!=''">Place: {{collection.place}}</br></span>
				</div>
				<div class="seminar_talk" ng-repeat="talk in collection.seminar" >
					<span ng-show="talk.title!=undefined && talk.title!=''"><b>Talk Title: {{talk.title}}</b></br></span>
					<span ng-show="talk.date!=undefined && talk.date!=''">Date: {{talk.date}}</br></span>
					<span ng-show="talk.time!=undefined && talk.time!=''">Time: {{talk.time}}</br></span>
					<span ng-show="talk.place!=undefined && talk.place!=''">Place: {{talk.place}}</br></span>
					<div ng-repeat="speaker in talk.speakers">
						Speaker: {{speaker.name}}
					</div>
                    <span ng-show="talk.summary!=undefined && talk.summary!=''">Summary: <span ng-bind-html="talk.summary"></span></br></span>
					<div ng-if="talk.url!=undefined && talk.url.embed!='' ">
						<iframe ng-if="true" ng-src="{{talk.url.embed | trustAsResourceUrl}}" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
					</div>
				</div>
			</div>
			<div ng-if=" collection.seminar==undefined"><!--単発講演-->
				<span ng-show="collection.title!=undefined && collection.title!=''"><b>Talk Title: {{collection.title}}</b></br></span>
				<span ng-show="collection.date!=undefined && collection.date!=''">Date: {{collection.date}}</br></span>
				<span ng-show="collection.time!=undefined && collection.time!=''">Time: {{collection.time}}</br></span>
				<span ng-show="collection.place!=undefined && collection.place!=''">Place: {{collection.place}}</br></span>
				<div ng-repeat="speaker in collection.speakers">
					Speaker: {{speaker.name}}
				</div>
        		<span ng-show="collection.summary!=undefined && collection.summary!=''">Summary: <span ng-bind-html="collection.summary"></span></br></span>
				<div ng-if="collection.url!=undefined && collection.url.embed!=''">
					<iframe ng-if="true" ng-src="{{collection.url.embed | trustAsResourceUrl}}" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
				</div>
			</div>
		</li>
	</ul>
	<div class="pagination">
		<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
			Prev
		</button>
		{{currentPage+1}}/{{numberOfPages()}}
		<button ng-disabled="currentPage >= talkNum[currentYear]/pageSize - 1" ng-click="currentPage=currentPage+1">
			Next
		</button>
	</div>
</div>
<div class="no-slide" ng-show="talks[currentYear]['collections'].length == 0" ng-include="talks[currentYear]['common']['no-slide']">
</div>
