予定がきまり次第、ここに掲載します。<br>
下記の講師陣による講義を計画しています：
<ul>
	<li>岡　夏樹（京都工芸繊維大学）</li>
	<li>澁谷　雄（京都工芸繊維大学）</li>
	<li>西崎　友規子（京都工芸繊維大学）</li>
	<li>岩橋　直人（岡山県立大学）</li>
	<li>小松　孝徳（明治大学）</li>
	<li>長井　隆行（電気通信大学）</li>
	<li>長井　志江（大阪大学）</li>
	<li>南　泰浩（電気通信大学）</li>
</ul>
公開セミナー（予定）
<ul>
 <li>Saturday, July 11, 2015
  <ul>
   <li>Seminar on Child Language Development
    <ul>
     <li>1330-1410: Kristine H. Onishi, McGill University: Social cognition (Introduction to work on social cognition)</li>
     <li>1420-1500: Alia Martin, Harvard University: Infants' understanding of communicative interactions</li>
     <li>1530-1610: Amelie Bernard, McGill University: Novel phonotactic learning: Simultaneous syllable- and word-level representations</li>
     <li>1620-1700: Hyun-joo Song, Yonsei University: The development of infants' ability to use verbal information when understanding others' goals</li>
    </ul>
   </li>
  </ul>
 </li>
 <li>Sunday, July 12, 2015
  <ul>
   <li>Open Lecture on Cognitive Interaction Design
    <ul>
     <li>1030-1200: Yukie Nagai, Osaka University: Predictive Learning of Sensorimotor Information as a Key for Cognitive Development</li>
    </ul>
   </li>
   <li>Seminar on Social Cognition
    <ul>
     <li>1330-1410: Alia Martin, Harvard University: Origins of mental state representations in nonhuman primates</li>
     <li>1420-1500: Kristine H. Onishi, McGill University: Mental representations/Communicative intentions</li>
     <li>1530-1610: Yoko Mano, Kyoto University: Neural basis of social cognition based on fMRI studies</li>
     <li>1620-1700: Franklin Chang, University of Liverpool: Linking vision and language: From infant cognition to eye-tracking in the visual world</li>
    </ul>
   </li>
  </ul>
 </li>
</ul>
